<!DOCTYPE html>
<html>
  <head>
    <title>MosaicoExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <%= render 'shared/navbar' %>

    <%= yield %>
  </body>
</html>
